<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">
	<h1 mat-dialog-title>{{title}}</h1>
	<div mat-dialog-content>
		<div>
			<mat-form-field>
				<mat-label>Nome</mat-label>
				<input matInput placeholder="Nome" formControlName="name" name="name">
			</mat-form-field>
		</div>
	</div>
	<div mat-dialog-actions>
		<button type="submit" mat-raised-button color="primary"
			[disabled]="submittingForm || resourceForm.invalid">{{btnSubmitLabel}}</button>
		<button mat-raised-button [mat-dialog-close]="true">Cancelar</button>
	</div>
</form>