<mat-nav-list>
	<a mat-list-item routerLink="/">
		<mat-icon aria-hidden="false" aria-label="Home">home</mat-icon> Início
	</a>
	<a mat-list-item routerLink="categories">
		<mat-icon aria-hidden="false" aria-label="Produtos">category</mat-icon> Categorias
	</a>
	<a mat-list-item routerLink="products">
		<mat-icon aria-hidden="false" aria-label="Produtos">storefront</mat-icon> Produtos
	</a>
	<a mat-list-item routerLink="users">
		<mat-icon aria-hidden="false" aria-label="Usuários">group</mat-icon> Usuários
	</a>
</mat-nav-list>