:host {
	position: relative;
	z-index: 1035;
}

.logo {
	display: flex;
	margin-left: 1rem;
	text-decoration: none;
	color: #666;

	img {
		max-height: 32px;
	}

	.icon {
		margin-right: 0.2rem;
	}
}

.title {
	display: flex;
	align-items: center;
	margin-left: 2rem;
}
