.mat-toolbar {
	position: fixed;
	top: 0;
	z-index: 1035;

	.logo {
		img {
			max-height: 32px;
		}
	}

	.title {
		display: flex;
		margin-left: 1rem;
		text-decoration: none;
		color: #666;
		align-items: center;
		font-weight: 300;

		.icon {
			margin-right: 0.2rem;
		}
	}
}
