/* GERAL */
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/** ESTRUTURA **/
.mat-drawer-container {
	height: 100%;

	.sidenav-content {
		padding: 64px 0 44px;

		.container {
			padding: 1.5rem;
		}
	}
}

/* SIDENAV */
.mat-nav-list {
	.mat-list-item-content {
		padding: 0 35px 0 25px !important;

		.mat-icon {
			margin-right: 0.5rem;
		}
	}
}

/* TABELA */
.mat-table {
	width: 100%;
	th,
	td {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.mat-column-id,
	.mat-column-actions {
		width: 1%;
		white-space: nowrap;
	}
	.mat-column-actions {
		text-align: center;

		button:not(:last-child) {
			margin-right: 5px;
		}
	}
}

/* TEMAS DA MENSAGEM */
.msg-success {
	background-color: #28a745;
}
.msg-error {
	background-color: rgb(227, 94, 107);
}
