/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-drawer-container {
	height: 100vh;
}
mat-drawer.sidenav {
	width: 200px;
}
.sidenav-content > .container {
	padding: 1.5rem;
}

.v-middle {
	vertical-align: middle;
}

.red {
	color: rgb(227, 94, 107);
}

.mat-table {
	width: 100%;
	th,
	td {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.mat-column-id,
	.mat-column-actions {
		width: 1%;
		white-space: nowrap;
	}
}

.msg-success {
	background-color: #28a745;
}
.msg-error {
	background-color: rgb(227, 94, 107);
}
